---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
---

<div class="project-grid">
  {
    projects.map((project) => (
      <article class="project-card">
        <Image
          src={project.data.image}
          alt={`${project.data.title} preview`}
          loading="lazy"
        />
        <div class="project-card-body">
          <p>{project.data.description}</p>
          <a class="text-link" href={project.data.githubUrl} target="_blank" rel="noreferrer">
            View on GitHub
          </a>
        </div>
      </article>
    ))
  }
</div>
